@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #18485c; /* Default background color */
}

.standard {
    background-image: linear-gradient(100deg, #575656, #0d394c);
    color: #ffdfdb;
    transition: 0.3s linear;
}

.blue {
    background-image: linear-gradient(100deg, #1f386f, #07292f);
    color: white;
    transition: 0.3s linear;
}

.green {
    background-image: linear-gradient(100deg, #1b3f27, #9db8a2d7);
    color: #a5bd90c6;
    transition: 0.3s linear;
}

.light {
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
    color: #1a150e;
    transition: 0.3s linear;
}

.darker {
    background-image: linear-gradient(100deg, #001214, #001f29);
    color: white;
    transition: 0.3s linear;
}

#header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
    min-height: 25vh;
}

.flexrow-container {
    position: absolute;
    top: 100px;
    right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 0;
}

.theme-selector {
    border: 1px solid #000000;
    border-radius: 100%;
    height: 35px;
    margin: 0 8px;
    transition: transform 150ms ease-in-out, box-shadow 200ms ease-in-out;
    width: 35px;
}

.theme-selector:hover { 
    box-shadow: white 0 0 8px;
    cursor: pointer;
}

.theme-selector:active {
    transform: scale(0.95);
}

.standard-theme {
    background-image: linear-gradient(100deg, #575656, #062e3f);
}

.blue-theme {
    background-image: linear-gradient(100deg, #0a3d43, #080536);
}

.green-theme {
    background-image: linear-gradient(100deg, #1b3f27, #50805bb7);
}

.light-theme {
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
}

.darker-theme {
    background-image: linear-gradient(100deg, #001214, #001f29);
}

.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    box-shadow: 0 0 50px rgba(5, 8, 8, 0.927);
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
    color: #fff; /* Ensure text color is white for clarity */
}
.wrapper:hover {
    animation: animate 1s linear infinite;
}
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}
.wrapper.active .form-wrapper.sign-in {
    transform: translateY(-450px);
}
.wrapper .form-wrapper.sign-up {
    position: absolute;
    top: 450px;
    left: 0;
}
.wrapper.active .form-wrapper.sign-up {
    transform: translateY(-450px);
}
h2 {
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.input-group {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}
.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.input-group input {
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}
.input-group input:focus~label,
.input-group input:valid~label {
  top: -5px;
}
.remember {
  margin: -5px 0 15px 5px;
}
.remember label {
  color: #fff;
  font-size: 14px;
}
.remember label input {
  accent-color: rgb(47, 65, 66);
}
button {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: rgba(19, 43, 51, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 50px rgba(30, 55, 55, 0.927);
  font-size: 16px;
  color: #c9ccd1;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: none;
}
.signUp-link {
  font-size: 14px;
  text-align: center;
  margin: 15px 0;
}
.signUp-link p {
  color: #fff;
}
.signUp-link p a {
  color: rgb(130, 192, 196);
  text-decoration: none;
  font-weight: 500;
}
.signUp-link p a:hover {
  text-decoration: underline;
}